* {
    box-sizing: border-box;
}

/* Body */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Card */
.container {
    width: 400px;
    padding: 35px 30px;
    background-color: #0f0f0f;
    border-radius: 35px;
    border: 2px solid #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Title */
.container h1 {
    color: white;
    letter-spacing: 2px;
    margin: 0;
}

/* Input Section */
.input-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 40px;
}

/* Input */
#todoInput {
    width: 65%;
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    background-color: transparent;
}

/* Add Button */
#addBtn {
    padding: 8px 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
}

#addBtn:hover {
    background-color: #222;
}

/* Task Section Wrapper */
.task-section {
    width: 100%;
}

/* Task List */
#tasklist {
    width: 100%;
    max-height: 260px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* Scrollbar */
#tasklist::-webkit-scrollbar {
    width: 6px;
}

#tasklist::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

/* Each Task */
li {
    list-style: none;
    background-color: #111;
    color: white;
    border: 2px solid #8b0000;
    padding: 12px 15px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Delete Button */
li button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
}

li button:hover {
    background-color: #8b0000;
    border-color: #8b0000;
}


.toggleStatus {
    /* text-decoration: line-through;
    opacity: 0.6; */
    border: 1px solid green;
}